.real.name {
  color: #ff1493;
  font-size: 15px;
  line-height: 0.2;
  padding: 1px 0 4px;

}
.second.name {
  color: #ff1493;
  font-size: 15px;
  line-height: 0.2;
  padding: 1px 0 4px;}

.dwfrm_profile_customer_firstname {
  color: #ff1493;
}

#salutation {
  color: #ff1493;
}

.col-title {
    font-family: " Fantasy", Times, serif;
    font-size: 70px;
    line-height: 1.2;
    text-align: center;
    padding: 20px 0 4px;
    color: #00263e;
  }

.col-message.text-transform-none {
  font-family: " Fantasy", Times, serif;
  font-size: 25px;
  line-height: 0.2;
  text-align: center;
  padding: 1px 0 4px;
  color: #00263e;
}

#dwfrm_profile_login_password_d0xraqodrilp{
  color:#ff1493;
}

.toggle-password.hidden {
  color:#ff1493 }

.register {
  font-size: 25px;
  line-height: 0.2;
  text-align: center;
  padding: 1px 0 4px;
}

.fieldset {
  height: 50%;
  width: 80%;
  background: #ffffff;
  margin: auto;
  text-align: center;
}
