*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

body {
	background-image: url(bg.png);
}
.zaebal {
	justify-content: center;

	margin: 10px auto;
	display: flex;
}
.input {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-content: center;
	align-items: baseline;
}
label {
	margin-left: 10px;
	font-size: 23px;
}
.eve:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-bottom: -4px;

	background-color: rgb(81, 113, 114);
	border: 1px solid black;
	flex-shrink: 0;
	flex-grow: 0;
	border-radius: 0.3em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 70% 70%;
}
.eve:checked::before {
	border-color: #000000;
	background-color: rgb(204, 18, 1);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
#bEnter {
	color: rgb(212, 212, 212);
	border: 2px solid rgb(7, 7, 7);
	border-radius: 30px;
	background-color: rgb(81, 113, 114);
	font: inherit;
	font-size: 23px;
	text-transform: uppercase;
	width: 150px;
	word-spacing: 4px;
	height: 35px;
	margin: 5px auto;
}
#bEnter:hover {
	background-color: rgba(189, 31, 17, 0.4);
}
#bEnter:active {
	background-color: rgba(81, 113, 114, 0.3);
	border: 2px solid rgba(7, 7, 7, 0.15);
	color: rgb(255, 255, 255);
}
#check {
	color: rgb(212, 212, 212);
	border: 2px solid rgb(7, 7, 7);
	border-radius: 30px;
	background-color: rgb(81, 113, 114);
	font: inherit;
	font-weight: 700;
	width: 150px;
	height: 35px;
	margin: 5px auto;
	font-size: 23px;
	text-transform: uppercase;
}
#check:hover {
	background-color: rgba(189, 31, 17, 0.4);
}

#check:active {
	background-color: rgba(81, 113, 114, 0.3);
	border: 2px solid rgba(7, 7, 7, 0.15);
	color: rgb(255, 255, 255);
}

h3 {
	text-indent: 20px;

	color: rgb(199, 75, 75);
	text-shadow: -3px 1px 8px white;
	margin: 15px 0 15px 0;
}
h1::first-letter {
	color: rgb(204, 18, 1);
}
p::first-letter {
	color: rgb(204, 18, 1);
}
eve1,
noneve1::first-letter {
	color: rgb(204, 18, 1);
}
p {
	font-size: 25px;
}
#writenumbers {
	color: rgb(121, 0, 0);
	text-shadow: 1px 1px 2px gray;
	font-style: oblique;
	font-family: cursive;
	border: 2px solid black;
	background-color: rgba(81, 113, 114, 0.7);
}
#writenumbers:focus {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
	border: 1px solid rgb(129, 129, 129);
}
.question {
	font-size: 30px;
	margin-top: 5px;
}
h1,
h2,
h3,
h4 {
	color: rgb(223, 223, 223);
	text-shadow: -3px 1px 2px rgb(66, 84, 85);
	font-size: 30px;
}
