.texts{
  margin: auto 30px;
}
.texts3{
  display: flex;
  margin: auto 536px;
}
p{
  margin-right: 30px;
}
h1{
  font-family: math;
  text-align: center;
  font-weight: 1000;
}
h2{
  margin-left: 10px;
  margin-right: 10px;
font-weight: lighter;
color: gray;
margin: revert;
}
