.main{
  background: linear-gradient(#FFEAB3,#ffffff) fixed;
    margin: -27px -8px;
}
.h1{
  text-align: center;
      font-size: 40px;
      margin: 28px;
}
.down{
  display: flex;
  margin: auto 250px;
}
.img{
  width: 340px;
}
.texts{
  margin:auto 40px;
  font-size: 13px;
}
.img{
  margin: auto 5px;
}
.text1{
  font-style: initial;
}
.text2{
  font-style: italic;
}
<<<<<<< HEAD
@media only screen and (max-device-width: 750px){
.texts{
  margin: auto 5px;
}
.down{
  margin-right: 40px;
  margin-left: 150px;
}
.texts{
  font-size: 7px;
}
img{
  width: 248px;
}
}
=======
>>>>>>> f147905f8982f23f7d12c1777fc738650c58f46f
