.logo-title {
    display: flex;
}
.item-icon {
    padding-right: 1%;
}
.video-items {
    display: flex;
}
.video-item {
    display: block;
    width: 25%;
    padding: .5%;
}
.main-image img {
  width: 100%;
}

.item-icon img {
  width: 70px;
}
h1 {
    font-size: 17px;
}
h3 {
    font-size: 13px;
    color: gray;
}
a {
  color: black;
  text-decoration: none;
}

h1:hover {
  text-decoration: underline;
}

.main-image img:hover {
    filter: brightness(.5);
}


@media only screen and (max-device-width: 750px){
  .video-items {
      display: block;
  }
  .video-item {
    width: 90%;
    padding: .5%;
    margin: 25px auto;
}
h1 {
    font-size: 25px;
}
h3 {
    font-size: 20px;
}
}
