h1 {
	/*color: #da0000;*/
	font-family: "Montserrat", sans-serif;
	text-align: center;
	font-size: 45px;
	font-weight: 900;
	margin-bottom: 5px;
}
.main {
	text-align: center;
}
.name,
.password,
.Dateofbirth {
	margin: 10px auto;
}
p {
	font-size: 20px;
	margin: 10px auto;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

label {
	font-size: 20px;
	font-weight: bold;
}
input {
	font-size: 15px;
}
button {
	font-size: 20px;
}
