h1 {
	color: #da0000;
	font-family: "Montserrat", sans-serif;
	text-align: center;
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 5px;
}
.main {
	text-align: center;
}
.name {
	margin: 10px auto;
}
.password {
	margin: 10px auto;
}
.Dateofbirth {
	margin: 10px auto;
}
p {
	margin: 5px auto;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
